<!-- Favicons -->
<link rel="icon" href="assets/img/favicon.png">
<link rel="shorcut icon" href="assets/img/favicon.png">
<link rel="apple-touch-icon" href="assets/img/favicon.png" >
<!-- Primary Meta Tags -->
<title>{{identity.title}} - {{pathName}}</title>
<meta name="title" content="{{identity.title}} - {{pathName}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="robots" content="index, follow">
<meta name="keywords" content="website">
<meta name="description" content="{{identity.description}}">
<meta name="language" content="Indonesia">
<meta content="#bdbfc7" name="theme-color" />
<meta content="#bdbfc7" name="msapplication-navbutton-color" />
<meta name="keywords" content="{{identity.keywords}}">
<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{identity.title}} - {{pathName}}">
<meta property="og:description" content="{{identity.description}}">
