<!DOCTYPE html>
<html lang="en">
  <head>
    {{> meta-tags}}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="assets/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    {{> header-inner}}
  
    {{{body}}}
  
    {{> footer}}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- JavaScript -->
    <script src="{{identity.assetsUrl}}/assets/vendor/aos/aos.js"></script>
    <script src="{{identity.assetsUrl}}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{identity.assetsUrl}}/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="{{identity.assetsUrl}}/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="{{identity.assetsUrl}}/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="{{identity.assetsUrl}}/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="{{identity.assetsUrl}}/assets/js/main.js"></script>
  </body>
</html>
